.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6c757d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.danger {
  --bs-accordion-btn-bg: var(--bs-danger-bg-subtle) !important;
  --bs-accordion-active-bg: var(--bs-danger-bg-subtle) !important;
  --bs-accordion-btn-focus-border-color: #fe8686 !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25) !important;
    --bs-accordion-active-color: var(--bs-body-color) !important;
}

.good {
  --bs-accordion-btn-bg: #95e48f !important;
  --bs-accordion-active-bg: #95e48f !important;
  --bs-accordion-btn-focus-border-color: #429c42 !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 253, 13, 0.25) !important;
  --bs-accordion-active-color: var(--bs-body-color) !important;
}

.btn-block {
  width: 100%;
}